.form-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 100%;
}

.title-container {
    margin-bottom: 1rem;
}
.title-input {
    box-sizing: border-box;
    width: 100%;
    font-size: 20px;
}
.text-container {
    margin-bottom: 1rem;
    flex-grow: 1;
}

.text-input {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    resize: none;
    font-size: 20px;
}

.btn-container {
    display: flex;
    flex-direction: row-reverse;
}

p {
    margin: 0;
}