<div class="workspace">
    <app-menu class="menu-container" [notes]="notes">

    </app-menu>
    <app-note *ngIf="viewMode; else newNote" [note]="selectedNote" class="note-container">

    </app-note>
    <ng-template #newNote>
        <app-add-note (addEvent)="addNote($event)" class="note-container">

        </app-add-note>
    </ng-template>
</div>
