ul {
    box-sizing: border-box;
    list-style-type: none;
    margin: 0;
    padding: 1rem;
    overflow-y: scroll;
    max-height: 100%;
}

li {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    padding: 0.5rem 1rem;
}
li>span {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;  
}
li:hover {
    color: white;
    background-color:dodgerblue;
    cursor: pointer;
}

